.App {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "heading"
    "main"
    "aside";
}

.heading {
  color: white;
  height: 2em;
  margin: 0;
  margin-top: .5em;
  align-content: center;
}

.main {
  height: calc(100vh - 8em);
}

.aside button {
  height: 2em;
  display: flex;
  align-items: center;
}

.aside img {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.NewTodo {
  display: grid;
  grid-template-columns: 50px 1fr 34px;
  color: white;
  align-items: center;
  padding-bottom: 1em;
}

.NewTodo input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  padding-bottom: .7em;
  color: white;
  font-size: 1em;
  width: 100%;
}

.AddNewTodo {
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 1em 0;
  background: transparent;
}